{#
 # Empty cart
 #
 #}
{% block content %}
	{#
	 # Hook: woocommerce_cart_is_empty.
	 #
	 # @hooked UNI\Plugins\WooCommerce::empty_cart_message - 10
	 #
	 # @unhooked wc_empty_cart_message - 10
	 #}
	{% do action( 'woocommerce_cart_is_empty' ) %}

	{% if page.id > 0 %}
		<p class="return-to-shop Info shadow-uni my-12px">
			<a class="button wc-backward" href="{{ page.permalink | apply_filters( 'woocommerce_return_to_shop_redirect' ) }}">
				{{- __( 'Return to shop', 'uni' ) | apply_filters( 'woocommerce_return_to_shop_text' ) -}}
			</a>
		</p>
	{% endif %}

{% endblock %}
