{#
 # Empty cart
 #
 #}

{% block content %}
	{#
	 # Hook: woocommerce_cart_is_empty.
	 #
	 # @hooked UNI\Plugins\WooCommerce::empty_cart_message - 10
	 #
	 # @unhooked wc_empty_cart_message - 10
	 #}
	{% do action( 'woocommerce_cart_is_empty' ) %}

	{% if page.id > 0 %}
		<div class="return-to-shop mt-12px">
			{{-
				include(
					'components/button.html.twig',
					{
						tag: 'a',
						label: __( 'Return to shop', 'uni' ) | apply_filters( 'woocommerce_return_to_shop_text' ),
						classes: [ 'd-inline-block', 'w-100', 'w-md-auto', 'button', 'wc-backward' ],
						attributes: { href: page.permalink }
					}
				)
			-}}
		</div>
	{% endif %}

{% endblock %}
