/**
 * Archive page
 *
 *
 *
 *
 */
@use 'sass:math';

.Archive-page {
	.Thumbnail {
		img {
			object-fit: contain;
			object-position: center;

			@include media-breakpoint-up(md) {
				object-fit: cover;
			}
		}
	}

	&.woocommerce-page {
		.Thumbnail .Thumbnail__image {
			object-fit: contain;
			object-position: center;

			@include media-breakpoint-up(md) {
				object-fit: contain;
			}
		}

		.Thumbnail .Thumbnail__overview {
			object-fit: cover;
			object-position: center;
		}
	}

	&__header {
		width: 100%;

		@include media-breakpoint-up(md) {
			width: #{math.div((7 * 200) * 100, $prototype-width-unitless)}vw;
		}
	}
}
