/**
 * Archive page
 *
 *
 *
 *
 */
@use 'sass:math';

.Archive-page {
	.Product-thumbnail {
		img {
			object-fit: contain;
			object-position: center;

			@include media-breakpoint-up(md) {
				object-fit: cover;
			}
		}
	}

	&.woocommerce-page {
		.Product-thumbnail .Product-thumbnail__image {
			object-fit: contain;
			object-position: center;

			@include media-breakpoint-up(md) {
				object-fit: contain;
			}
		}

		.Product-thumbnail .Product-thumbnail__hover {
			object-fit: cover;
			object-position: center;
		}
	}

	&__header {
		@include size(100%, 100vh);
		@include padding(top 80px bottom 20px);

		display: grid;
		grid-template-columns: repeat(10, 1fr);
		grid-template-rows: repeat(10, 1fr);
		grid-column-gap: 0px;
		grid-row-gap: 0px;
		min-height: 100%;
		grid-auto-rows: 1fr;

		z-index: 100;

		& > div:nth-child(1) {
			grid-area: 1 / 1 / 3 / 11;

			@include media-breakpoint-up(md) {
				grid-area: 2 / 2 / 4 / 7;
			}
		}

		& > div:nth-child(2) {
			grid-area: 3 / 1 / 9 / 11;

			@include media-breakpoint-up(md) {
				grid-area: 4 / 3 / 9 / 7;
			}
		}

		@include media-breakpoint-up(md) {
			@include size(#{math.div((7 * 200) * 100, $prototype-width-unitless)}vw, 100%);

			@include padding(
				top #{math.div(60 * 100, $prototype-height-unitless)}vh bottom #{math.div(
						60 * 100,
						$prototype-height-unitless
					)}vh
			);

			grid-template-columns: repeat(7, 1fr);
			grid-template-rows: repeat(11, percentage(math.div(1, 11)));
		}
	}
}
