/**
 * Contact page
 *
 *
 *
 *
 */
@use 'sass:math';

.Contact-page {
	&__mandatory {
		@include font-sizes(15);
	}

	form {
		transition: 0.7s opacity map-get($easings, ease-out-expo);

		&.is-loading {
			@extend .pe-none;

			opacity: 0.6;
		}

		.error-message {
			@include padding(top 0.5em);

			color: the_color(red, bright);
		}
	}
}
