/**
 * Page: front
 *
 *
 * @package DLAP
 */
.Front-page {
	@extend %overflow-hidden;

	height: 100%;

	.Site-content {
		@extend %position-relative, %overflow-hidden;

		color: the_color(white);
		width: 100%;
		border-radius: map-get($borders, radius);
	}

	&__grid {
		@extend %position-relative;

		@include padding(right #{(42 * 100) / 750}vw left #{(42 * 100) / 750}vw);

		display: grid;

		grid-template-columns: repeat(10, 1fr);
		grid-template-rows: repeat(10, 1fr);

		grid-column-gap: 0px;
		grid-row-gap: 0px;

		// background-color: the_color(yellow, dark-grayish);
		height: 100%;
		max-height: 100%;
		z-index: 2;

		@include media-breakpoint-up(md) {
			grid-template-columns: repeat(12, 1fr);
			grid-template-rows: repeat(11, 1fr);
		}

		div:nth-child(1) {
			align-self: center;
			grid-area: 1 / 1 / 3 / 11;

			@include media-breakpoint-up(md) {
				grid-area: 1 / 2 / 3 / 12;
			}
		}
		div:nth-child(2) {
			grid-area: 3 / 1 / 7 / 11;

			@include media-breakpoint-up(md) {
				grid-area: 4 / 5 / 8 / 9;
			}
		}
		div:nth-child(3) {
			align-self: center;
			grid-area: 6 / 1 / 10 / 6;

			@include media-breakpoint-up(sm) {
				grid-area: 7 / 1 / 9 / 6;
			}

			@include media-breakpoint-up(md) {
				grid-area: 9 / 2 / 10 / 5;

				align-self: auto;
			}
		}
		div:nth-child(4) {
			align-self: center;
			grid-area: 6 / 6 / 10 / 11;

			@include media-breakpoint-up(sm) {
				grid-area: 7 / 6 / 9 / 11;
			}

			@include media-breakpoint-up(md) {
				grid-area: 9 / 9 / 10 / 12;

				align-self: auto;
			}
		}
		div:nth-child(5) {
			grid-area: 9 / 1 / 11 / 11;

			@include media-breakpoint-up(sm) {
				grid-area: 9 / 1 / 11 / 11;
			}

			@include media-breakpoint-up(md) {
				grid-area: 11 / 2 / 12 / 12;
			}
		}

		@include media-breakpoint-up(md) {
			@include padding(
				top #{(60 * 100) / $prototype-height-unitless}vh right 0 bottom #{(60 * 100) /
					$prototype-height-unitless}vh left 0
			);
		}
	}

	&__logo {
		svg,
		img {
			@include size(100%);
		}
	}

	&__content {
		@include letter-spacing(50);
		@include font-sizes(25, 30);

		line-height: (40/30);
	}

	&__link {
		@extend %text-align-center;
		@extend .d-block;
		@include font-sizes(20, 30);

		line-height: (30/20);

		span {
			@extend .d-block;
			@extend %font-family-title, %text-transform-uppercase;
			@include letter-spacing(250);
			@include font-sizes(40, 75, 30);

			line-height: (90/70);
		}
	}

	&__footer {
		@extend %font-family-title, %font-style-italic, %text-align-center;
		@include font-sizes(25, 35);

		line-height: (45/35);
	}

	&__video {
		@include absolute(top 0 right 0 bottom 0 left 0);
		@extend %overflow-hidden;

		z-index: 1;

		// Safari workaround
		border-radius: map-get($borders, radius);

		img,
		video {
			@include size(100%);
			@include absolute(top 0 right 0 bottom 0 left 0);

			object-fit: cover;
			object-position: center;
			z-index: 2;

			&.is-hidden {
				@include autoAlpha(0);

				z-index: 1;
			}
		}
	}
}
