/**
 * Page: front
 *
 *
 * @package UNI
 */

@use 'sass:math';

.Front-page {
	overflow: hidden;
	height: 100%;

	.Site-content {
		border-radius: map-get($borders, radius);
	}

	&__grid {
		@include padding(right #{math.div(42 * 100, 750)}vw left #{math.div(42 * 100, 750)}vw);
	}

	&__content {
		@include font-sizes(25, 30);

		line-height: math.div(40, 30);
	}

	&__link {
		@include font-sizes(20, 30);

		line-height: (30 * 0.05);

		span {
			@include font-sizes(40, 75, 30);

			line-height: math.div(90, 70);
		}
	}

	&__footer {
		@include font-sizes(25, 35);

		line-height: math.div(45, 35);
	}

	&__video {
		// Safari workaround
		border-radius: map-get($borders, radius);

		img,
		video {
			&.is-hidden {
				@include autoAlpha(0);

				z-index: 1;
			}
		}
	}
}
