/**
 * Horizontal page
 *
 *
 *
 *
 *
 */
@use 'sass:math';

.Horizontal-page {
	&__section {
		max-width: calc(100% - 40px);

		@include media-breakpoint-up(md) {
			max-width: none;
			will-change: transform;
		}
	}

	&__grid {
		@include media-breakpoint-up(sm) {
			@include padding(left #{math.div(42 * 100, 750)}vw);
		}

		@include media-breakpoint-up(md) {
			& > div {
				height: calc(100vh - 100px);
			}
		}
	}
}
