/**
 * Horizontal page
 *
 *
 *
 *
 *
 */
@use 'sass:math';

.Horizontal-page {
	&__section {
		max-width: calc(100% - 40px);

		@include media-breakpoint-up(md) {
			max-width: none;
			will-change: transform;
		}
	}
}
