/**
 * Single: project
 *
 *
 *
 *
 *
 */
@use 'sass:math';

.Single-project {
	&__information {
		transform: translate3d(100%, 0, 0);
		transition: transform 0.3s map-get($easings, ease-out-expo);

		@at-root .project-information--is-open & {
			transform: translate3d(0, 0, 0);
		}

		@include media-breakpoint-up(md) {
			@include padding(left calc(#{math.div(100 * 100, $prototype-width-unitless)}vw + 40px));
		}

		@include media-breakpoint-up(hd) {
			@include padding(left 140px);
		}

		&__wrapper {
			background-color: rgba(the_color(white), 0.97);
		}
	}
}
