/**
 * Carousel
 *
 *
 * @package DLAP
 */
.Carousel {
	.flickity-viewport {
		height: 100%;
	}

	// .Carousel__items
	&__items {
		@extend %overflow-hidden;
		@include size(100%);

		border-radius: 12px;

		@include media-breakpoint-up(hd) {
			border-radius: 20px;
		}

		.woocommerce-product-gallery__image:first-child {
			@extend %overflow-hidden;

			border-top-left-radius: 12px;
			border-bottom-left-radius: 12px;

			@include media-breakpoint-up(hd) {
				border-top-left-radius: 20px;
				border-bottom-left-radius: 20px;
			}
		}

		.woocommerce-product-gallery__image:last-child {
			@extend %overflow-hidden;

			border-top-right-radius: 12px;
			border-bottom-right-radius: 12px;

			@include media-breakpoint-up(hd) {
				border-top-right-radius: 20px;
				border-bottom-right-radius: 20px;
			}
		}
	}
	&__navigation {
		@include margin(top 1em);
		@extend .d-flex, .justify-content-between, .align-items-center;

		button {
			@extend .d-flex, .align-items-center;
			@include size(15px, 13px);

			svg {
				@include size(100%);
			}
		}
	}

	&__current {
		@include letter-spacing(50);
		@include font-sizes(15, 20);

		line-height: (24/20);
	}
}
