/**
 * Footer: horizontal
 *
 *
 *
 * @package uni
 */
@use 'sass:math';

.Site-footer-horizontal {
	a:hover {
		@extend .text-decoration-underline;
	}

	@include media-breakpoint-up(md) {
		@include padding(right 20px left #{math.div(200 * 100, $prototype-width-unitless)}vw);

		width: #{math.div((5 * 200) * 100, $prototype-width-unitless)}vw;
	}

	&__grid {
		@include padding(
			top 100px right #{math.div(42 * 100, 750)}vw bottom 100px left #{math.div(42 * 100, 750)}vw
		);

		border-radius: map-get($borders, radius);
		box-shadow: 1px 1px 3px rgba(the_color(black), 0.2);

		grid-template-columns: repeat(10, 1fr);
		grid-template-rows: repeat(8, 1fr);
		grid-column-gap: 0px;
		grid-row-gap: 0px;

		@include media-breakpoint-up(md) {
			grid-template-columns: repeat(5, 1fr);
			grid-template-rows: repeat(11, 1fr);
		}

		& > div:nth-child(1) {
			grid-area: 1 / 1 / 4 / 6;

			@include media-breakpoint-up(md) {
				grid-area: 2 / 2 / 5 / 4;
			}
		}
		& > div:nth-child(2) {
			grid-area: 1 / 6 / 4 / 11;

			@include media-breakpoint-up(md) {
				grid-area: 2 / 4 / 5 / 6;
			}
		}
		& > div:nth-child(3) {
			grid-area: 4 / 1 / 7 / 6;

			@include media-breakpoint-up(md) {
				grid-area: 5 / 2 / 8 / 4;
			}
		}
		& > div:nth-child(4) {
			grid-area: 4 / 6 / 7 / 11;

			@include media-breakpoint-up(md) {
				grid-area: 5 / 4 / 8 / 6;
			}
		}
		& > div:nth-child(5) {
			grid-area: 7 / 1 / 8 / 11;

			@include media-breakpoint-up(md) {
				grid-area: 8 / 2 / 10 / 5;
			}
		}
		& > div:nth-child(6) {
			grid-area: 8 / 1 / 9 / 11;
			align-self: end;

			@include media-breakpoint-up(md) {
				grid-area: 10 / 2 / 12 / 6;
				align-self: auto;
			}
		}
	}
}
