/**
 * Site footer
 *
 *
 *
 *
 *
 */
.Site-footer {
	&__items {
		@extend %list-style-type-none;
	}

	&__item {
		@include margin(top 1em bottom 1em);

		&:first-child {
			@include margin(top 0 bottom 2em);
		}
		&:last-child {
			@include margin(bottom 0);
		}

		line-height: 1.2;
		font-size: #{(60 * 15) / 100}px;

		@include media-breakpoint-up(hd) {
			font-size: #{(15/30)}em;
		}

		h5 {
			@extend %font-family-body, %font-weight-regular;
			@include margin(top 0);

			line-height: 1.2;
			font-size: #{(60 * 18) / 100}px;

			@include media-breakpoint-up(hd) {
				font-size: 1em;
			}
		}

		a {
			@extend .d-inline-block;
			@extend %font-family-title;
		}
	}
}
