/**
 * Footer: vertical
 *
 *
 *
 *
 *
 */
.Site-footer-vertical {
	@extend .d-flex;
	@include padding(
		top 7em right #{(200 * 100) / $prototype-width-unitless}vw bottom 7em left #{(200 * 100) /
			$prototype-width-unitless}vw
	);
	@include margin(top 20px);

	flex-flow: wrap;

	border-radius: map-get($borders, radius);
	box-shadow: 1px 1px 3px rgba(the_color(black), 0.2);

	& > div {
		flex-grow: 1;
		width: percentage(1/2);

		@include media-breakpoint-up(md) {
			width: percentage(1/8);
		}
	}

	& > div:last-child {
		width: 100%;

		@include media-breakpoint-up(md) {
			width: percentage(3/8);
		}
	}

	& > div:nth-last-child(2) {
		@extend .order-1, .order-md-0;
		@include margin(top 6em);

		width: 100%;

		@include media-breakpoint-up(md) {
			@include margin(top 0);

			width: percentage(1/8);
		}
	}

	& > div:nth-child(3),
	& > div:nth-child(4) {
		@include margin(top 6em bottom 6em);

		@include media-breakpoint-up(md) {
			@include margin(top 0 bottom 0);
		}
	}

	@include media-breakpoint-up(md) {
		flex-flow: row nowrap;

		@include padding(
			top 150px right #{(200 * 100) / $prototype-width-unitless}vw bottom 130px left #{(
					200 * 100
				) / $prototype-width-unitless}vw
		);
	}
}
