/**
 * Product
 *
 *
 *
 *
 */
.Product {
	@extend .d-flex;

	// .Product__gallery
	&__gallery {
		&__grid {
			@include size(#{(2000 * 100) / $prototype-width-unitless}vw, 100%);

			display: grid;
			grid-template-columns: repeat(10, 1fr);
			grid-template-rows: repeat(11, 1fr);
			grid-column-gap: 0px;
			grid-row-gap: 0px;

			max-height: 100%;

			& > div:nth-child(1) {
				grid-area: 2 / 2 / 10 / 10;
			}
			& > div:nth-child(2) {
				grid-area: 10 / 2 / 11 / 10;
			}

			@include media-breakpoint-up(md) {
				@include padding(
					top #{(36 * 100) / $prototype-height-unitless}vh bottom #{(36 * 100) /
						$prototype-height-unitless}vh
				);
			}

			@include media-breakpoint-up(hd) {
				@include padding(
					top #{(60 * 100) / $prototype-height-unitless}vh bottom #{(60 * 100) /
						$prototype-height-unitless}vh
				);
			}
		}

		.woocommerce-product-gallery__image {
			@include size(100%);

			& > a {
				@extend .d-block;
				@include size(100%);
			}

			img {
				@include size(100%);

				object-fit: cover;
				object-position: center;
			}
		}
	}

	&__category-description {
		@extend %font-family-title, %font-style-italic;
		@include margin(top 1em);

		span {
			font-size: #{60 * 35 / 100}px;

			@include media-breakpoint-up(hd) {
				font-size: #{(35/30)}em;
				line-height: (45 / 35);
			}
		}
	}

	&__title {
		@include letter-spacing(100);
	}

	&__header {
	}

	&__short-description {
	}

	&__attributes {
		@extend %list-style-type-none;

		li {
			@include margin(top 1em bottom 1em);

			&:last-child {
				@include margin(bottom 0);
			}
			&:first-child {
				@include margin(top 0);
			}
		}

		&__name {
			line-height: (4/3);
		}
		&__options {
			@include letter-spacing(50);
			@extend %font-family-title;

			font-size: #{60 * 65 / 100}px;
			line-height: 1.2;

			@include media-breakpoint-up(hd) {
				font-size: #{65/30}em;
			}

			span {
				@extend %font-family-body;

				font-size: #{60 * 30 / 100}px;

				@include media-breakpoint-up(hd) {
					font-size: 1em;
				}
			}
		}
	}

	&__add-to-cart-button {
		@extend .d-flex, .align-items-center;
		@extend %text-decoration-underline;

		font-size: #{60 * 30 / 100}px;
		line-height: 1.2;

		@include media-breakpoint-up(hd) {
			font-size: #{(30/30)}em;
		}

		svg {
			@include size(#{(60 * 37) / 100}px);
			@include margin(right 10px);

			@include media-breakpoint-up(hd) {
				@include size(37px);
			}
		}
	}
}
