/**
 * Products
 *
 *
 *
 *
 */
.Products {
	@extend .d-flex;
	@include margin(right #{(400 * 100) / $prototype-width-unitless}vw);

	&__items {
		@extend .d-flex;
	}

	&__item {
		@extend .d-flex;
		@include size(#{(800 * 100) / $prototype-width-unitless}vw, 100%);

		&__header {
			@extend .d-flex, .justify-content-end;
			@include size(percentage(200/800), 100%);
			@include padding(
				top #{(80 * 100) / $prototype-width-unitless}vh right #{(20 * 100) /
					$prototype-width-unitless}vw bottom #{(80 * 100) / $prototype-width-unitless}vh
			);

			h3 {
				@include margin(top 0 bottom 0);
				writing-mode: vertical-rl;
				transform: rotate(180deg);
				transform-origin: center;

				line-height: 1.2;
				font-size: #{(60 * 25) / 100}px;

				@include media-breakpoint-up(hd) {
					font-size: #{(25/30)}em;
				}
			}
		}

		&__thumbnail {
			@extend .d-block;
			@include size(percentage(600/800), 100%);

			background-color: the_color(gray, very-light-01);

			img {
				@extend .d-block;
				@include size(100%);

				object-position: center;
				object-fit: contain;
			}
		}
	}
}
