{#
 #
 # Attributes
 #
 # @param array attributes
 #
 #}

<ul class="list-style-type-none">
	{% for attribute in post.attributes %}
		<li class="{{ loop.first ? 'mb-20px' : loop.last ? 'mt-20px' : 'my-20px' }}">
			{{-
				include(
					'partials/page-title.html.twig',
					{
						subtitle: attribute.name,
						title: attribute.options | join( ' ' )
					}
				)
			-}}
		</li>
	{% endfor %}
</ul>
