{#
 # Page Content
 #
 # @package UNI
 #}

{% set classes = [
	'pt-md-200vh',
	'pb-md-60vh',
	'px-md-200vw',
	'z-index-100',
] | merge( classes | default( [] ) ) | join( ' ' ) | trim %}

<div class="{{ classes }}">
	{{-
		include(
			'partials/page-title.html.twig',
			{
				classes: [ 'text-center', 'text-md-start' ],
				subtitle: subtitle,
				title: title
			}
		)
	-}}

	{% block content %}
		<div class="Wysiwyg d-none d-md-block mt-20px ps-md-200vw">
			{{- content -}}
		</div>
	{% endblock %}
</div>
