{#
 # Page Content
 #
 # @package UNI
 #}

{% set classes = [
	'py-md-60vh',
	'grid-template-columns-md-repeat-7-1fr',
	'grid-template-rows-md-repeat-11-1/11',
	'grid-column-gap-0',
	'grid-auto-rows-md-1fr',
	'grid-row-gap-md-0',
	'd-md-grid',
	'z-index-100',
	'woocommerce-products-header'
] | merge( classes | default( [] ) ) | join( ' ' ) | trim %}

<div class="{{ classes }}">
	{{-
		include(
			'partials/page-title.html.twig',
			{
				classes: [ 'text-center', 'text-md-start', 'woocommerce-products-header__title', 'page-title', 'grid-area-md-2/2/4/7' ],
				subtitle: subtitle,
				title: title
			}
		)
	-}}

	{% block content %}
		<div class="Wysiwyg d-none d-md-block mt-20px mt-md-0 grid-area-md-4/3/9/7">
			{{- content -}}
		</div>
	{% endblock %}
</div>
