{#
 # Product: variations
 #
 #}
{% if render %}
	<div class="Product-variations">
		<p class="Product-variations__title">{{- __( 'Exists in:', 'uni' ) -}}</p>

		<ul class="Product-variations__items">
			{%- for variation in product.product_variations -%}
				<li class="Product-variations__item">
					<a href="{{ variation.link }}" style="background-color: {{ variation.color }};" class="{{ variation.current ? 'is-active' }}"></a>
				</li>
			{%- endfor -%}
		</ul>
	</div>
{% endif %}
