{#
 # Socials
 #
 # @package UNI
 #}

{% if socials is iterable %}
	<ul class="{{ [ 'Socials', 'list-style-type-none' ] | merge( classes ? classes : [] ) | join( ' ' ) | trim }}">

		{% if label %}
			<li class="Site-footer__item">
				<h5 class="ff-body my-0">
					{{- label -}}
				</h5>
			</li>
		{% endif %}

		<ul class="d-flex align-items-center list-style-type-none">
			{%- for social in socials -%}
				<li class="Socials__item">
					<a class="d-inline-block align-middle ff-title" href="{{ social.url }}" target="_blank" rel="noopener noreferer">
						{{- include( 'svg/use.html.twig', { classes: [ 'd-block' ], icon: social.slug } ) -}}
					</a>
				</li>
			{%- endfor -%}
		</ul>
	</ul>
{% endif %}
