{#
 # Socials
 #
 # @package UNI
 #}

{% if socials is iterable %}
	<ul class="{{ [ 'list-style-type-none' ] | merge( classes ? classes : [] ) | join( ' ' ) | trim }}">

		{% if label %}
			<li class="mb-12px">
				<h5 class="ff-body m-0 text-2xs">
					{{- label -}}
				</h5>
			</li>
		{% endif %}

		<li>
			<ul class="flex align-items-center list-style-type-none">
				{%- for social in socials -%}
					<li class="{{ loop.first ? 'me-8px' : loop.last ? 'ms-8px' : 'my-8px' }}">
						<a class="ff-title text-gray" href="{{ social.url }}" target="_blank" rel="noopener noreferer">
							{{- include( 'svg/use.html.twig', { classes: [ 'size-24px', 'fill-current', 'fill-black-hover', 'block' ], icon: social.slug } ) -}}
						</a>
					</li>
				{%- endfor -%}
			</ul>
		</li>
	</ul>
{% endif %}
