{#
 # Button Add To Cart
 #
 # @package UNI
 #}

<button
	type="submit"
	value="{{ id }}"
	class="flex flex-column align-items-center text-decoration-underline single_add_to_cart_button button alt {{ fn( 'wc_wp_theme_get_element_class_name', 'button' ) }}"
	data-add-to-cart="button"
>
	{{- text -}}
	{{- include( 'svg/use.html.twig', { icon: 'cart', classes: [ 'mt-8px', 'size-20px', 'pe-none' ] }, with_context = false ) -}}
</button>
