{#
 # Heading
 #
 # @package UNI
 #}

<div
	class="{{ [
		'Heading',
		'my-40px',
		'my-md-20px',
		'position-relative',
		'd-md-flex',
		'align-items-md-center',
		'justify-content-md-center',
		'z-index-2',
		'fs-xl',
		'fs-md-2xl'
	] | merge( classes | default( [] ) ) | join( ' ' ) | trim }}"
>
	<h2 class="mx-md-200vw text-center fw-normal fst-normal text-uppercase ff-title my-0 letter-spacing-100">
		{{- link ? "<a href=\"#{ link }\">" | raw -}}
			{{- title -}}
		{{- link ? '</a>' | raw -}}
	</h2>
</div>
