{#
 # Header
 #
 # @package UNI
 #}

<header
	class="{{ [
		'fixed',
		'flex',
		'flex-md-column-reverse',
		'align-items-center',
		'justify-content-between',
		'inset-x-0',
		'mx-md-20px',
		'my-20px',
		'my-md-0',
		'px-20px',
		'px-md-0',
		'py-md-40px',
		'w-md-60px',
		'h-60px',
		'h-md-100',
		'bg-body',
		'shadow-uni',
		'z-5',
	] | join( ' ' ) | trim }}"
>
	{{- include( 'components/mini-cart.html.twig', { classes: [ 'relative', 'z-2' ] } ) -}}

	{{- include( 'components/logo.html.twig' ) -}}

	<div class="flex-row-reverse flex flex-md-column align-items-center">
		{{- include( 'components/button-menu.html.twig' ) -}}
		{{- include( 'components/languages.html.twig', { classes: [ 'relative', 'z-2', 'mt-md-24px', 'me-20px', 'me-md-0' ] } ) -}}
	</div>

</header>
