{#
 # Heading
 #
 # @package UNI
 #}

<div
	class="{{ [
		'position-relative',
		'd-md-flex',
		'align-items-md-center',
		'justify-content-md-center',
		'z-index-2',
		'fs-xl',
		'fs-md-2xl'
	] | merge( classes | default( [] ) ) | join( ' ' ) | trim }}"
>
	<h2 class="{{
		[
			'writing-mode-md-vertical-rl',
			'origin-md-center',
			'rotate-md-180',
			'mx-md-200vw',
			'my-20px',
			'my-md-0',
			'text-center',
			'fw-normal',
			'fst-normal',
			'text-uppercase',
			'ff-title',
			'letter-spacing-100'
		] | join( ' ' )
	}}">
		{{- link ? "<a href=\"#{ link }\">" | raw -}}
			{{- title -}}
		{{- link ? '</a>' | raw -}}
	</h2>
</div>
