{#
 # Input: Coupon
 #}

<div class="coupon md-flex {{ classes ? classes | join( ' ' ) | trim }}">
	<input
		type="text"
		name="coupon_code"
		class="{{ [
			'border',
			'shadow-focus-focus',
			'transition-box-shadow',
			'outline-none-focus',
			'p-12px',
			'w-100',
			'rounded',
			'me-md-12px'
		] | join( ' ' ) }}"
		placeholder="{{ __( 'Coupon code', 'uni' ) }}"
		id="coupon_code"
		value=""
	/>

	{{-
		include(
			'components/button.html.twig',
			{
				type: 'submit',
				label: __( 'Apply coupon', 'uni' ),
				classes: [
					'w-100', 'w-md-auto', 'mt-12px', 'mt-md-0', 'flex-shrink-0',
					fn( 'wc_wp_theme_get_element_class_name', 'button' )
				],
				attributes: {
					name: 'apply_coupon',
					value: __( 'Apply coupon', 'uni' )
				}
			}
		)
	-}}
</div>
