{#
 # Input: Coupon
 #}

<div class="coupon d-md-flex justify-content-md-end {{ classes ? classes | join( ' ' ) | trim }}">
	<input
		type="text"
		name="coupon_code"
		class="{{ [
			'border',
			'border-1',
			'border-gray-very-dark',
			'shadow-focus-focus',
			'transition-box-shadow',
			'outline-none-focus',
			'p-12px',
			'w-100',
			'rounded-5px',
			'me-md-12px'
		] | join( ' ' ) }}"
		placeholder="{{ __( 'Coupon code', 'uni' ) }}"
		id="coupon_code"
		value=""
	/>

	{{-
		include(
			'components/button.html.twig',
			{
				type: 'submit',
				label: __( 'Apply coupon', 'uni' ),
				classes: [ 'w-100', 'w-md-auto', 'mt-12px', 'mt-md-0' ],
				attributes: {
					name: 'apply_coupon',
					value: __( 'Apply coupon', 'uni' )
				}
			}
		)
	-}}
</div>
