{#
 # Modal
 #
 # @package UNI
 #}

{% set size = size | default( 'full' ) %}

{% if 'full' == size %}
	{% set size = [ 'w-100', 'h-100', 'justify-content-center' ] %}
{% endif %}

{% if 'small' == size %}
	{% set size = [ 'w-80', 'h-90' ] %}
{% endif %}

<div
	id="modal-{{ id | e }}"
	class="Modal page-block z-index-3 position-fixed top-0 end-0 bottom-0 start-0 d-flex align-items-center justify-content-center"
	data-node-type="ModalBlock"
>
	<div
		class="{{ [
			'Modal__wrapper',
			'w-100',
			'h-100',
			'd-flex',
			'flex-column',
			'position-relative',
			'overflow-auto',
		] | merge( size ) | join( ' ' ) | trim }}"
	>
		<button class="Modal__close js-modal-button position-absolute top-0 end-0 d-flex" type="button" aria-label="{{ __( 'Close', 'uni' ) }}">
			{{- include( 'svg/use.html.twig', { icon: 'times', classes: [ 'pe-none' ] }, with_context = false ) -}}
		</button>
		{% block body %}{% endblock %}
	</div>
</div>
