{#
 # Modal
 #
 # @package UNI
 #}

{% set size = size | default( 'full' ) %}

{% if 'full' == size %}
	{% set size = [ 'w-100', 'h-100', 'justify-content-center' ] %}
{% endif %}

{% if 'small' == size %}
	{% set size = [ 'w-md-80', 'h-100', 'h-md-90' ] %}
{% endif %}

<div
	id="modal-{{ id | e }}"
	class="Modal mt-100px mx-20px mb-20px mt-md-20px ms-md-100px z-index-3 position-fixed inset-0 d-flex align-items-center justify-content-center"
	data-module-modal
>
	<div
		class="{{ [
			'shadow-uni',
			'border-radius-5px',
			'px-20px',
			'px-md-400vw',
			'w-100',
			'd-flex',
			'flex-column',
			'position-relative',
			'overflow-auto',
			'background-color-white',
		] | merge( size ) | join( ' ' ) | trim }}"
	>
		<button
			class="Modal__close position-absolute top-0 end-0 d-flex"
			type="button"
			aria-label="{{ __( 'Close', 'uni' ) }}"
			data-modal="close"
		>
			{{- include( 'svg/use.html.twig', { icon: 'times', classes: [ 'pe-none' ] }, with_context = false ) -}}
		</button>
		{% block body %}{% endblock %}
	</div>
</div>
