{#
 # Panel
 #}

<div
	id="{{ id | default( '' ) }}"
	class="transition-transform z-index-4 inset-0 position-fixed Menu pt-100px pt-md-20px pb-20px px-20px ps-md-100px"
	style="transform: translate3d(100%, 0, 0);"
	data-module-panel="{{ id | default( '' ) }}"
>
	<div class="bg-white bg-opacity-97 shadow-uni rounded-5px h-100">
		{% block content %}{% endblock %}
	</div>
</div>
