/**
 * Billing fields
 *
 *
 *
 *
 *
 */
@use 'sass:math';

.Billing-fields {
	& > h3 {
		@include margin(top 0 bottom 0.8em);
		@include padding(bottom 0.8em);
		@include font-sizes(25);

		line-height: math.div(30, 25);

		border-bottom: 1px solid the_color(gray, very-dark);

		@include media-breakpoint-up(hd) {
			@include padding(
				top #{math.div(20, 30)}em right #{math.div(20, 30)}em bottom #{math.div(20, 30)}em
					left #{math.div(20, 30)}em
			);
			font-size: #{math.div(25, 30)}em;
		}
	}

	&__field-wrapper {
		& > * {
			width: 100%;
		}

		.form-row-first {
			@include media-breakpoint-up(md) {
				width: 50%;

				@include padding(right #{(20 * 60) * 0.01}px);
				@include media-breakpoint-up(hd) {
					@include padding(right #{math.div(20, 30)}em);
				}
			}
		}

		.form-row-last {
			@include media-breakpoint-up(md) {
				width: 50%;

				@include padding(left #{(20 * 60) * 0.01}px);
				@include media-breakpoint-up(hd) {
					@include padding(left #{math.div(20, 30)}em);
				}
			}
		}
	}
}
