/**
 * Billing fields
 *
 *
 *
 *
 *
 */
.Billing-fields {
	&__field-wrapper {
		@extend .d-flex;

		flex-flow: wrap;

		& > * {
			width: 100%;
		}

		.form-row-first {
			@include media-breakpoint-up(md) {
				width: 50%;

				@include padding(right #{(20 * 60) / 100}px);
				@include media-breakpoint-up(hd) {
					@include padding(right #{(20/30)}em);
				}
			}
		}

		.form-row-last {
			@include media-breakpoint-up(md) {
				width: 50%;

				@include padding(left #{(20 * 60) / 100}px);
				@include media-breakpoint-up(hd) {
					@include padding(left #{(20/30)}em);
				}
			}
		}
	}
}
