/**
 * Button
 *
 *
 *
 * @package UNI
 */
@use 'sass:math';

.Button {
	@extend .white-space-md-nowrap, .text-center, .letter-spacing-50;

	@include padding(
		top #{math.div(20, 30)}em right #{math.div(20, 30)}em bottom #{math.div(20, 30)}em left #{math.div(
				20,
				30
			)}em
	);

	line-height: math.div(30, 25);

	border-radius: map-get($borders, radius);
	box-shadow: 1px 1px 3px rgba(the_color(black), 0.2);

	transition: box-shadow 0.3s map-get($easings, ease-out-expo),
		opacity 0.3s map-get($easings, ease-out-expo);

	&:disabled {
		@extend .cursor-not-allowed;
		opacity: 0.6;
	}

	&:active {
		box-shadow: inset 1px 1px 2px rgba(the_color(black), 0.2);
	}

	&:focus {
		outline: none;
		box-shadow: 0 0 0 0.2rem rgba(the_color(gray, very-light-02), 0.5);
	}

	&.Button--black {
		color: the_color(white);
		background-color: the_color(black);
	}
}
