/**
 * Checkout page
 *
 *
 *
 *
 */
.Checkout {
	&__form {
		@extend %position-relative;
		@extend .d-md-flex;

		flex-wrap: wrap;

		& > *:first-child {
			@include margin(top 0);
		}
		& > *:last-child {
			@include margin(bottom 0);
		}
	}

	&__details {
		@include media-breakpoint-up(md) {
			@include padding(
				top #{(250 * 100) / $prototype-height-unitless}vh right percentage(0.5 / 12) bottom #{(
						250 * 100
					) / $prototype-height-unitless}vh left percentage(1 / 12)
			);
			width: percentage(6.5 / 12);
			border-right: 1px solid rgba(the_color(black), 1);
		}
	}

	&__order {
		@include media-breakpoint-up(md) {
			@include padding(
				top #{(250 * 100) / $prototype-height-unitless}vh right percentage(1 / 12) bottom #{(
						250 * 100
					) / $prototype-height-unitless}vh left percentage(0.5 / 12)
			);
			width: percentage(5.5 / 12);
		}
	}
}
