/**
 * Heading
 *
 *
 *
 */
.Heading {
	@extend .d-md-flex, .align-items-md-center;
	@extend %position-relative;
	@include padding(
		top #{(80 * 100) / $prototype-width-unitless}vh bottom #{(80 * 100) /
			$prototype-width-unitless}vh
	);

	z-index: 2;

	@include media-breakpoint-up(md) {
		@include size(#{(200 * 100) / $prototype-width-unitless}vw, 100%);
	}

	h2 {
		@extend %text-align-center,
			%font-weight-regular,
			%font-style-normal,
			%text-transform-uppercase,
			%font-family-title;
		@include margin(top 0 bottom 0);
		@include letter-spacing(100);
		@include font-sizes(65);

		line-height: (105/65);

		@include media-breakpoint-up(md) {
			height: 100%;
			writing-mode: vertical-rl;
			transform: rotate(180deg);
			transform-origin: center;
		}
	}
}
