/**
 * Input
 *
 *
 */
.Input {
	$this: &;

	@include font-sizes(25);

	line-height: (30/25);

	label {
		@extend .d-block;
		@include margin(bottom 1em);

		.required {
			@extend %text-decoration-none;
		}
	}

	& > span {
		@extend .d-block;
	}

	input {
		@include reset-placeholder(the_color(gray, dark));
		@include padding(top #{(20/30)}em right #{(20/30)}em bottom #{(20/30)}em left #{(20/30)}em);

		transition: box-shadow 0.3s map-get($easings, ease-out-expo);

		border-radius: 5px;
		max-width: 100%;
		width: 100%;

		border: 1px solid the_color(gray, very-dark);

		&:focus {
			outline: none;
			box-shadow: 0 0 0 0.2rem rgba(the_color(gray, very-light-03), 0.5);
		}

		&[type='checkbox'] {
			width: auto;
		}

		@at-root #{ $this }.woocommerce-invalid input {
			box-shadow: 0 0 0 0.2rem rgba(the_color(red, light-grayish-02), 0.5);
			border-color: the_color(red, light-grayish-02);
		}
	}

	textarea {
		@extend .d-block;
		@include size(100%, 80px);

		border-radius: 5px;
		border: 1px solid the_color(gray, very-dark);
		transition: box-shadow 0.3s map-get($easings, ease-out-expo);

		&:focus {
			outline: none;
			box-shadow: 0 0 0 0.2rem rgba(the_color(gray, very-light-03), 0.5);
		}
	}
}
