/**
 * Input
 *
 *
 */
@use 'sass:math';

.Input {
	$this: &;

	select,
	input {
		@include reset-placeholder(the_color(gray, dark));

		&[type='checkbox'] {
			width: auto;
		}

		@at-root #{ $this }.woocommerce-invalid input {
			box-shadow: 0 0 0 0.2rem rgba(the_color(red, light-grayish-02), 0.5);
			border-color: the_color(red, light-grayish-02);
		}
	}

	textarea {
		@extend .d-block;
		@include size(100%, 80px);
		@include padding(
			top #{math.div(20, 30)}em right #{math.div(20, 30)}em bottom #{math.div(20, 30)}em left
				#{math.div(20, 30)}em
		);

		border-radius: map-get($borders, radius);
		border: 1px solid the_color(gray, very-dark);
		transition: box-shadow 0.3s map-get($easings, ease-out-expo);

		&:focus {
			outline: none;
			box-shadow: 0 0 0 0.2rem rgba(the_color(gray, very-light-02), 0.5);
		}
	}
}
