/**
 * Input
 *
 *
 */
.Input {
	input {
		@include reset-placeholder(the_color(gray, dark));

		@include padding(
			top #{(20 * 60) / 100}px right #{(20 * 60) / 100}px bottom #{(20 * 60) / 100}px left #{(
					20 * 60
				) / 100}px
		);

		transition: box-shadow 0.3s map-get($easings, ease-out-expo);

		border-radius: 5px;
		max-width: 100%;

		@include media-breakpoint-up(hd) {
			@include padding(
				top #{(20/30)}em right #{(20/30)}em bottom #{(20/30)}em left #{(20/30)}em
			);
		}

		&:focus {
			outline: none;
			box-shadow: 0 0 0 0.2rem rgba(the_color(gray, very-light-03), 0.5);
		}
	}
}
