/**
 * Languages
 *
 *
 *
 *
 */
.Languages {
	@include margin(right 24px);
	@include font-sizes(20);

	line-height: (58 * 0.05);

	@include media-breakpoint-up(md) {
		@include margin(right 0);
	}

	@at-root .Site-header & {
		@include media-breakpoint-up(md) {
			@include margin(top 24px left 0);
		}

		@include media-breakpoint-up(hd) {
			@include margin(top 40px);
		}
	}

	&__item {
		@extend .text-uppercase, .text-center;

		border-bottom: 1px solid the_color(black);

		&:last-child {
			border-bottom: none;
		}

		a {
			@extend .d-inline-block;
			@extend .align-middle, %font-weight-extralight;
			@include padding(right 5px left 5px);

			@include media-breakpoint-up(md) {
				@include padding(right 0 left 0);
			}

			&.current-lang {
				@include letter-spacing(60);
				@extend .fw-light;
			}
		}
	}
}
