/**
 * Loop
 *
 *
 *
 *
 *
 */
@use 'sass:math';

.Loop {
	&__header {
		@include media-breakpoint-up(md) {
			// width: percentage(math.div(200, 800));

			writing-mode: vertical-rl;
			transform: rotate(180deg);
			transform-origin: center;
		}
	}
}
