/**
 * Loop
 *
 *
 *
 *
 *
 */
.Loop {
	$this: &;

	@extend .d-flex;
	@include size(#{(800 * 100) / $prototype-width-unitless}vw, 100%);

	&__header {
		@extend .d-flex, .flex-row, .justify-content-between, .align-items-end;
		@include size(percentage(200/800), 100%);
		@include padding(
			top calc(#{(80 * 100) / $prototype-width-unitless}vh + 20px) right #{(20 * 100) / $prototype-width-unitless}vw
				bottom calc(#{(80 * 100) / $prototype-width-unitless}vh + 20px) left #{(20 * 100) /
				$prototype-width-unitless}vw
		);

		writing-mode: vertical-rl;
		transform: rotate(180deg);
		transform-origin: center;
		min-height: 100%;
	}

	&__product-title {
		@include margin(top 0 bottom 0);
		@extend %font-weight-regular, %font-style-italic;

		line-height: 1.2;
		font-size: #{(60 * 25) / 100}px;

		@include media-breakpoint-up(hd) {
			font-size: #{(25/30)}em;
		}
	}

	&__price {
		line-height: 1.2;
		font-size: #{(60 * 25) / 100}px;

		@include media-breakpoint-up(hd) {
			font-size: #{(25/30)}em;
		}
	}
}
