/**
 * Menu
 *
 *
 *
 * @package UNI
 */
.Menu {
	$this: &;

	transform: translate3d(calc(100% + 20px), 0, 0);

	@include fixed(top 0 right 0 bottom 0 left 0);
	@include margin(top 100px right 20px bottom 20px left 20px);

	@include padding(right #{(42 * 100) / 750}vw left #{(42 * 100) / 750}vw);

	// Grid.
	display: grid;
	grid-template-columns: repeat(10, 1fr);
	grid-template-rows: repeat(10, 1fr);
	grid-column-gap: 0px;
	grid-row-gap: 0px;

	border-radius: map-get($borders, radius);
	background-color: rgba(the_color(white), 0.97);
	box-shadow: 2px 2px 3px rgba(the_color(black), 0.2);
	z-index: 4;

	@include media-breakpoint-up(md) {
		@include margin(top 20px left calc(#{(100 * 100) / $prototype-width-unitless}vw + 40px));
		@include padding(
			top #{(36 * 100) / $prototype-height-unitless}vh bottom #{(36 * 100) /
				$prototype-height-unitless}vh
		);

		grid-template-columns: repeat(12, 1fr);
		grid-template-rows: repeat(11, 1fr);
	}
	@include media-breakpoint-up(hd) {
		@include margin(left 140px);
		@include padding(
			top #{(60 * 100) / $prototype-height-unitless}vh bottom #{(60 * 100) /
				$prototype-height-unitless}vh
		);
	}

	&__items {
		@extend %list-style-type-none;
	}

	// .Menu__primary
	&__primary {
		grid-area: 2 / 2 / 6 / 11;

		@include media-breakpoint-up(md) {
			grid-area: 2 / 3 / 8 / 6;
		}

		#{ $this }__item {
			h1 {
				@include margin(top 2em bottom 2em);
			}

			&:first-child {
				h1 {
					@include margin(top 0);
				}
			}
			&:last-child {
				h1 {
					@include margin(bottom 0);
				}
			}
		}
	}

	// .Menu__secondary
	&__secondary {
		grid-area: 6 / 4 / 8 / 11;

		@include media-breakpoint-up(md) {
			grid-area: 2 / 10 / 8 / 12;
		}

		#{ $this }__items {
			columns: 2;
			column-gap: 40px;

			@include media-breakpoint-up(md) {
				columns: auto;
				column-gap: normal;
			}
		}

		#{ $this }__item {
			@include margin(top 1em bottom 1em);

			&:first-child {
				@include margin(top 0);
			}
			&:last-child {
				@include margin(bottom 0);
			}
		}
	}

	// .Menu__button
	&__button {
		@extend %position-relative;

		z-index: 2;

		svg {
			@extend %vertical-align-middle;
			@include size(#{(37 * 100) / 750}vw, #{(32 * 100) / 750}vw);

			@include media-breakpoint-up(md) {
				@include size(
					#{(37 * 100) / $prototype-width-unitless}vw,
					#{(32 * 100) / $prototype-width-unitless}vw
				);
			}
		}
	}
}
