/**
 * Menu
 *
 *
 *
 * @package UNI
 */
@use 'sass:math';

.Menu {
	@include padding(right 20px bottom 20px left 20px);

	transform: translate3d(100%, 0, 0);
	transition: transform 0.3s map-get($easings, ease-out-expo);

	@at-root .menu--is-open & {
		transform: translate3d(0, 0, 0);
	}

	@include media-breakpoint-up(md) {
		@include padding(left calc(#{math.div(100 * 100, $prototype-width-unitless)}vw + 40px));
	}

	@include media-breakpoint-up(hd) {
		@include padding(left 140px);
	}

	&__wrapper {
		border-radius: map-get($borders, radius);
		background-color: rgba(the_color(white), 0.97);
		box-shadow: 2px 2px 3px rgba(the_color(black), 0.2);
	}

	// .Menu__secondary
	&__secondary {
		ul {
			columns: 2;
			column-gap: 40px;

			@include media-breakpoint-up(md) {
				columns: auto;
				column-gap: normal;
			}
		}

		.Menu__item {
			@include margin(top 1em bottom 1em);

			&:first-child {
				@include margin(top 0);
			}
			&:last-child {
				@include margin(bottom 0);
			}
		}
	}
}
