/**
 * Menu
 *
 *
 *
 * @package UNI
 */
@use 'sass:math';

.Menu {
	transform: translate3d(100%, 0, 0);
	transition: transform 0.3s map-get($easings, ease-out-expo);

	@at-root .menu--is-open & {
		transform: translate3d(0, 0, 0);
	}

	&__wrapper {
		background-color: rgba(the_color(white), 0.97);
	}

	// .Menu__secondary
	&__secondary {
		ul {
			columns: 2;
			column-gap: 40px;

			@include media-breakpoint-up(md) {
				columns: auto;
				column-gap: normal;
			}
		}
	}
}
