/**
 * Message
 *
 *
 *
 *
 *
 */
@use 'sass:math';

.Message {
	@extend %margin-y-2;
	@include padding(
		top #{(20 * 60) * 0.01}px right #{(20 * 60) * 0.01}px bottom #{(20 * 60) * 0.01}px left #{(
				20 * 60
			) * 0.01}px
	);

	border-radius: map-get($borders, radius);
	box-shadow: 1px 1px 2px rgba(the_color(black), 0.2);

	color: the_color(green, very-dark-lime-01);
	background-color: the_color(green, light-grayish-lime-01);
	border-color: the_color(green, light-grayish-lime-02);

	a {
		@extend .text-decoration-underline;

		color: the_color(green, very-dark-lime-02);
	}

	@include media-breakpoint-up(hd) {
		@include padding(
			top #{math.div(20, 30)}em right #{math.div(20, 30)}em bottom #{math.div(20, 30)}em left
				#{math.div(20, 30)}em
		);
	}
}
