/**
 * Modal
 *
 *
 *
 *
 */
@use 'sass:math';

.Modal {
	@include autoAlpha(0);

	transition: 0.7s opacity map-get($easings, ease-out-expo),
		0.7s visibility map-get($easings, ease-out-expo);

	@at-root .modal--is-open & {
		@include autoAlpha(1);
	}

	&__body {
		@include margin(top 3em right auto bottom 3em left auto);
		@extend .d-block;

		width: fit-content;
	}

	&__product-price {
		@include margin(top 0.5em bottom 0);

		& > span {
			margin-left: auto;
		}
	}

	&__thumbnail {
		@include size(#{(60 * 400) * 0.01}px, #{(60 * 268) * 0.01}px);

		@include media-breakpoint-up(hd) {
			@include size(400px, 268px);
		}
	}

	&__footer {
		&__button {
			@include margin(
				right #{math.div(30 * 100, $prototype-width-unitless)}vw left #{math.div(
						30 * 100,
						$prototype-width-unitless
					)}vw
			);

			&:first-child {
				@include margin(left 0);
			}
			&:last-child {
				@include margin(right 0);
			}

			svg {
				@include size(1rem);
				@include margin(right 10px);
			}
		}
	}
}
