/**
 * Modal
 *
 *
 *
 *
 */
@use 'sass:math';

.Modal {
	@include autoAlpha(0);
	@include margin(top 80px right 20px bottom 20px left 20px);

	transition: 0.7s opacity map-get($easings, ease-out-expo),
		0.7s visibility map-get($easings, ease-out-expo);

	@include media-breakpoint-up(md) {
		@include margin(
			top 20px left calc(#{math.div(100 * 100, $prototype-width-unitless)}vw + 40px)
		);
	}
	@include media-breakpoint-up(hd) {
		@include margin(left 140px);
	}

	@at-root .modal--is-open & {
		@include autoAlpha(1);
	}

	&__wrapper {
		@include padding(
			right #{math.div(400 * 100, $prototype-width-unitless)}vw left #{math.div(
					400 * 100,
					$prototype-width-unitless
				)}vw
		);

		border-radius: map-get($borders, radius);
		background-color: the_color(white);
		box-shadow: 1px 1px 3px rgba(the_color(black), 0.2);
	}

	&__body {
		@include margin(top 3em right auto bottom 3em left auto);
		@extend .d-block;

		width: fit-content;
	}

	&__close {
		@include margin(top 20px right 20px);

		@include size(14px);

		svg {
			@include size(100%);
		}
	}

	&__title {
		@include margin(bottom 0);

		line-height: math.div(36, 30);
	}

	&__product-title {
		@extend %font-family-title, %font-style-italic;

		@include margin(bottom 0.5em);
		@include font-sizes(25);

		line-height: math.div(30, 25);
	}

	&__product-price {
		@extend .d-flex;
		@include margin(top 0.5em bottom 0);

		@include font-sizes(25);

		line-height: math.div(30, 25);

		& > span {
			@include margin(left auto);
		}
	}

	&__thumbnail {
		@include size(#{(60 * 400) * 0.01}px, #{(60 * 268) * 0.01}px);
		@extend .d-block;

		border-radius: map-get($borders, radius);
		object-fit: cover;
		object-position: center;

		@include media-breakpoint-up(hd) {
			@include size(400px, 268px);
		}
	}

	&__footer {
		&__button {
			@extend .d-flex, .align-items-center;
			@extend %text-decoration-underline;
			@include letter-spacing(50);
			@include font-sizes(30);
			@include margin(
				right #{math.div(30 * 100, $prototype-width-unitless)}vw left #{math.div(
						30 * 100,
						$prototype-width-unitless
					)}vw
			);

			line-height: math.div(36, 30);

			&:first-child {
				@include margin(left 0);
			}
			&:last-child {
				@include margin(right 0);
			}

			svg {
				@include size(14px);
				@include margin(right 10px);
			}
		}
	}
}
