/**
 *
 *
 *
 *
 *
 *
 */
.Payment {
	&__methods {
		@include margin(top 1em bottom 1em);
		@extend %list-style-type-none;
	}

	&__method {
		@include padding(top 20px);

		border-bottom: 1px solid the_color(gray, very-dark);

		font-size: #{(15 * 60) / 100}px;
		line-height: (24/20);

		@include media-breakpoint-up(md) {
			font-size: #{(20 * 60) / 100}px;
		}
		@include media-breakpoint-up(hd) {
			font-size: #{(20/30)}em;
		}

		&__header {
			@include margin(bottom 20px);
		}

		&__box {
			@include padding(top 20px bottom 20px);

			border-top: 1px solid the_color(gray, very-dark);

			& > *:first-child {
				@include margin(top 0);
			}
			& > *:last-child {
				@include margin(bottom 0);
			}
		}
	}
}
