/**
 * Payment
 *
 *
 *
 *
 *
 */
.Payment {
	& > *:first-child {
		@include margin(top 0);
	}

	& > *:last-child {
		@include margin(bottom 0);
	}
	&__methods {
		@include margin(top 1em bottom 1em);
		@extend %list-style-type-none;
	}

	&__method {
		@include padding(top 20px);
		@include font-sizes(16);

		border-bottom: 1px solid the_color(gray, very-dark);
		line-height: (19.2/16);

		&__header {
			@include margin(bottom 20px);
		}

		&__box {
			@include padding(top 20px bottom 20px);

			border-top: 1px solid the_color(gray, very-dark);

			& > *:first-child {
				@include margin(top 0);
			}
			& > *:last-child {
				@include margin(bottom 0);
			}
		}
	}
}
