/**
 * Product: variations
 *
 *
 *
 *
 *
 */
.Product-variations {
	@extend %list-style-type-none;
	@include letter-spacing(50);

	line-height: 1.2;
	font-size: #{(60 * 25) / 100}px;

	@include media-breakpoint-up(hd) {
		font-size: #{(25/30)}em;
	}

	&__item {
		@extend .d-flex, .align-items-center;
		@include margin(top 1em bottom 1em);

		&:first-child {
			@include margin(top 0);
		}

		&:last-child {
			@include margin(bottom 0);
		}
	}
	&__label {
		@include margin(right 20px);
	}
	&__value {
	}
}
