/**
 * Product: colors
 *
 *
 *
 *
 *
 *
 */
@use 'sass:math';

.Product-colors {
	$this: &;

	&__title {
		@extend %text-decoration-underline;
		@include margin(bottom 0.5em);
		@include font-sizes(30);

		line-height: math.div(36, 30);

		@at-root .Loop #{ $this } #{ $this }__title {
			@extend .d-none;
		}
	}

	&__items {
		@extend .list-style-type-none;
		@extend .d-flex;
	}

	&__item {
		@include margin(right #{(10 * 60) * 0.01}px left #{(10 * 60) * 0.01}px);

		@include media-breakpoint-up(hd) {
			@include margin(right #{math.div(10, 30)}em left #{math.div(10, 30)}em);
		}

		&:first-child {
			@include margin(top 0 left 0);
		}
		&:last-child {
			@include margin(right 0);
		}

		@at-root .Loop #{ $this } #{ $this }__item {
			&:first-child {
				@include margin(top 0 left 0);
			}
			&:last-child {
				@include margin(bottom 0 right 0);
			}

			@include media-breakpoint-up(md) {
				@include margin(
					top #{(10 * 60) * 0.01}px right 0 bottom #{(10 * 60) * 0.01}px left 0
				);
			}

			@include media-breakpoint-up(hd) {
				@include margin(top #{math.div(10, 30)}em bottom #{math.div(10, 30)}em);
			}
		}

		a {
			@extend .d-block;

			border-radius: map-get($borders, radius);
			transition: box-shadow 0.7s map-get($easings, ease-out-expo);

			@include size(#{(25 * 60) * 0.01}px);

			@include media-breakpoint-up(hd) {
				@include size(#{math.div(25, 30)}em);
			}

			&.is-active {
				box-shadow: 2px 2px 1px rgba(the_color(black), 0.2);
			}

			@at-root .Loop #{ $this } #{ $this }__item a {
				border-radius: map-get($borders, radius);
			}

			@at-root .Loop #{ $this } #{ $this }__item a.is-active {
				box-shadow: none;
			}
		}
	}
}
