/**
 * Shipping fields
 *
 *
 *
 *
 *
 */
@use "sass:math";

.Shipping-fields {
	&__field-wrapper {
		@extend .d-flex;

		flex-flow: wrap;

		& > * {
			width: 100%;
		}

		.form-row-first {
			width: 50%;

			@include padding(right #{(20 * 60) * 0.01}px);
			@include media-breakpoint-up(hd) {
				@include padding(right #{math.div(20, 30)}em);
			}
		}

		.form-row-last {
			width: 50%;

			@include padding(left #{(20 * 60) * 0.01}px);
			@include media-breakpoint-up(hd) {
				@include padding(left #{math.div(20, 30)}em);
			}
		}
	}
}
