/**
 * Shop table
 *
 *
 *
 *
 *
 */
@use 'sass:math';

.Shop-table {
	$this: &;

	@include margin(top 7em);
	@include font-sizes(25);

	width: 100%;
	table-layout: fixed;
	overflow-wrap: break-word;
	border-collapse: collapse;

	line-height: math.div(30, 25);

	th,
	td {
		@include padding(top 0.5em bottom 0.5em);
	}

	th {
		@extend .text-start, .align-top;
	}

	td {
		@extend .text-end;
	}

	tr.order-total {
		@extend %font-weight-semibold;
	}

	@at-root .Checkout #{ $this } {
		@include margin(top 0);
		thead {
			th,
			td {
				@include padding(top 0 bottom 0.8em);
				border-bottom: 1px solid the_color(gray, very-dark);
			}
		}

		tbody {
			.product-name {
				@extend .text-start;
			}

			& > .cart_item {
				.product-name,
				.product-total {
					@include padding(top 0.8em);
				}
			}
		}
	}
}
