/**
 * Product: thumbnail
 *
 *
 *
 *
 *
 *
 */
@use 'sass:math';

.Thumbnail {
	@include size(100%, #{math.div(360 * 100, 1334)}vh);

	&:hover {
		.Thumbnail__overview.is-active {
			@include autoAlpha(1);
		}
	}

	@include media-breakpoint-up(md) {
		@include size(percentage(math.div(600, 800)), 100%);
	}

	&__image {
		@include autoAlpha(0);

		object-position: center;
		object-fit: contain;

		transition: opacity 0.7s map-get($easings, ease-out-expo),
			visibility 0.7s map-get($easings, ease-out-expo);

		&.is-active {
			@include autoAlpha(1);
		}

		@at-root .page-template-archive-page & {
			object-fit: scale-down;

			@include media-breakpoint-up(md) {
				object-fit: cover;
			}
		}

		@include media-breakpoint-up(md) {
			@include absolute(top 0 right 0 bottom 0 left 0);
		}
	}

	&__overview {
		@include autoAlpha(0);

		transition: opacity 0.7s map-get($easings, ease-out-expo),
			visibility 0.7s map-get($easings, ease-out-expo);
	}
}
