/**
 * Product: thumbnail
 *
 *
 *
 *
 *
 *
 */
@use 'sass:math';

.Thumbnail {
	&:hover {
		.Thumbnail__overview.is-active {
			@include autoAlpha(1);
		}
	}

	&__image {
		@include autoAlpha(0);

		object-position: center;
		object-fit: contain;

		transition: opacity 0.7s map-get($easings, ease-out-expo),
			visibility 0.7s map-get($easings, ease-out-expo);

		&.is-active {
			@include autoAlpha(1);
		}

		@at-root .page-template-archive-page & {
			object-fit: scale-down;

			@include media-breakpoint-up(md) {
				object-fit: cover;
			}
		}
	}

	&__overview {
		@include autoAlpha(0);

		transition: opacity 0.7s map-get($easings, ease-out-expo),
			visibility 0.7s map-get($easings, ease-out-expo);
	}
}
