/**
 * WYSIWYG
 *
 *
 *
 *
 *
 */
@use "sass:math";

.Wysiwyg {
	& > *:first-child {
		margin-top: 0;
	}
	& > *:last-child {
		margin-bottom: 0;
	}

	blockquote {
		@include margin(bottom 1em left #{math.div(200 * 100, $prototype-width-unitless)}vw);

		& > *:first-child {
			margin-top: 0;
		}
		& > *:last-child {
			margin-bottom: 0;
		}
	}
}
