{#
 # Price
 #}
{% if not upcoming %}
	<p class="Product-price mb-0 {{ 'price' | apply_filters( 'woocommerce_product_price_class' ) }}">
		<span class="Product-price__title woocommerce-Price-title title">{{ __( 'Price:', 'uni' ) -}}</span>
		{{- price_html -}}
	</p>
{% endif %}
