{#
 # Product Title
 #}

<h3 class="{{ fn(
	'apply_filters',
	'woocommerce_product_loop_title_classes',
	'my-0 fs-2xs fw-normal fst-italic woocommerce-loop-product__title'
) }}">
	{{- title -}}
</h3>
