/**
 * Base
 */

@use 'sass:math';

html {
	@include size(100%);

	scroll-behavior: smooth;
}

body {
	font-size: #{$base-font-size * 0.4}px; // 12
	font-size: #{math.div(($base-font-size) * 100, $prototype-height-unitless)}vh;

	// @include font-sizes($base-font-size * 0.4);

	@include media-breakpoint-up(sm) {
		font-size: #{$base-font-size * 0.5}px; // 15
		font-size: #{math.div(($base-font-size) * 100, $prototype-height-unitless)}vh;

		// @include font-sizes($base-font-size * 0.5);
	}

	// @include media-breakpoint-up(md) {
	// 	font-size: #{$base-font-size * 0.6}px; // 18
	// 	font-size: #{math.div(($base-font-size * 0.6) * 100, $prototype-height-unitless)}vh;

	// 	// @include font-sizes($base-font-size * 0.6);
	// }

	@include media-breakpoint-up(md) {
		font-size: #{$base-font-size}px; // 30
		font-size: #{math.div(($base-font-size) * 100, $prototype-height-unitless)}vh;

		// @include font-sizes($base-font-size);
	}

	line-height: math.div($base-line-height, $base-font-size);

	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;

	text-rendering: optimizeLegibility;

	&.is-native-scroll.y-scroll {
		@extend .overflow-y-scroll, .overflow-x-hidden;
	}

	&.is-native-scroll {
		overscroll-behavior: none;
	}

	@include media-breakpoint-up(md) {
		font-size: math.div($base-font-size * 100vw, $prototype-width-unitless);
	}
}

a,
button {
	cursor: pointer;
	outline: none;
}

a {
	color: currentColor;
	text-decoration: none;
}

p {
	@include margin(top 0 bottom 1em);
}

strong {
	@extend .fw-bold;
}
