/**
 * Base
 */

@use 'sass:math';

html {
	scroll-behavior: smooth;

	font-size: $base-font-size-px;
	line-height: math.div($base-line-height, $base-font-size);

	-webkit-text-size-adjust: 100%;
	-o-tab-size: 4;
	tab-size: 4;

	@include media-breakpoint-up(md) {
		font-size: math.div(($base-font-size * 1.875) * 100vw, $prototype-width-unitless);
	}
}

body {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	&.is-native-scroll.y-scroll {
		@extend .overflow-y-scroll, .overflow-x-hidden;
	}

	&.is-native-scroll {
		overscroll-behavior: none;
	}
}

a,
button {
	cursor: pointer;
	outline: none;
	color: inherit;
}

a {
	color: currentColor;
	text-decoration: none;
}

p {
	margin-top: 0;
	margin-bottom: 1rem;
}

strong {
	@extend .fw-bold;
}

hr {
	border: none;
	width: 100%;
	height: #{math.div(1, $base-font-size)}rem;
}

select {
	color: inherit;
}

//
.flickity-viewport {
	height: 100%;
}
