// Suisse Int'l ultralight
@font-face {
	font-family: "Suisse Int'l";
	src: url('../../src/fonts/suisseintl/suisseintl-ultralight.eot');
	src: url('../../src/fonts/suisseintl/suisseintl-ultralight.woff2') format('woff2'),
		url('../../src/fonts/suisseintl/suisseintl-ultralight.woff') format('woff'),
		url('../../src/fonts/suisseintl/suisseintl-ultralight.eot?#iefix')
			format('embedded-opentype'),
		url('../../src/fonts/suisseintl/suisseintl-ultralight.ttf') format('truetype'),
		url('../../src/fonts/suisseintl/suisseintl-ultralight.svg#suisseintl-ultralight')
			format('svg');
	font-weight: 250;
	font-style: normal;
	font-display: swap;
}

// light
@font-face {
	font-family: "Suisse Int'l";
	src: url('../../src/fonts/suisseintl/suisseintl-light.eot');
	src: url('../../src/fonts/suisseintl/suisseintl-light.woff2') format('woff2'),
		url('../../src/fonts/suisseintl/suisseintl-light.woff') format('woff'),
		url('../../src/fonts/suisseintl/suisseintl-light.eot?#iefix') format('embedded-opentype'),
		url('../../src/fonts/suisseintl/suisseintl-light.ttf') format('truetype'),
		url('../../src/fonts/suisseintl/suisseintl-light.svg#suisseintl-light') format('svg');
	font-weight: 300;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Suisse Int'l";
	src: url('../../src/fonts/suisseintl/suisseintl-regular.eot');
	src: url('../../src/fonts/suisseintl/suisseintl-regular.woff2') format('woff2'),
		url('../../src/fonts/suisseintl/suisseintl-regular.woff') format('woff'),
		url('../../src/fonts/suisseintl/suisseintl-regular.eot?#iefix') format('embedded-opentype'),
		url('../../src/fonts/suisseintl/suisseintl-regular.ttf') format('truetype'),
		url('../../src/fonts/suisseintl/suisseintl-regular.svg#suisseintl-regular') format('svg');
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

// Suisse Works regular
@font-face {
	font-family: 'Suisse Works';
	src: url('../../src/fonts/suisse-works/suisse-works-regular.eot');
	src: url('../../src/fonts/suisse-works/suisse-works-regular.woff2') format('woff2'),
		url('../../src/fonts/suisse-works/suisse-works-regular.woff') format('woff'),
		url('../../src/fonts/suisse-works/suisse-works-regular.eot?#iefix')
			format('embedded-opentype'),
		url('../../src/fonts/suisse-works/suisse-works-regular.ttf') format('truetype'),
		url('../../src/fonts/suisse-works/suisse-works-regular.svg#suisse-works-regular')
			format('svg');
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

// Suisse Works italic
@font-face {
	font-family: 'Suisse Works';
	src: url('../../src/fonts/suisse-works/suisse-works-italic.eot');
	src: url('../../src/fonts/suisse-works/suisse-works-italic.woff2') format('woff2'),
		url('../../src/fonts/suisse-works/suisse-works-italic.woff') format('woff'),
		url('../../src/fonts/suisse-works/suisse-works-italic.eot?#iefix')
			format('embedded-opentype'),
		url('../../src/fonts/suisse-works/suisse-works-italic.ttf') format('truetype'),
		url('../../src/fonts/suisse-works/suisse-works-italic.svg#suisse-works-italic')
			format('svg');
	font-weight: 400;
	font-style: italic;
	font-display: swap;
}
