/**
 * Basic typography style for copy text
 */

// @include reset-selection( get_color( black ), get_color( white ) );

@use 'sass:math';

h1,
.h1 {
	@extend .ff-title, .fw-normal;
	@include letter-spacing(100);
	@include margin(top 1em bottom 2em);
	@include font-sizes(50, 75);

	line-height: math.div(90, 75);
}

h2,
.h2 {
	@extend .fw-normal, .ff-body;
	@include font-sizes(30);
	@include margin(top 1em bottom 1em);

	line-height: math.div(40, 30);
}

h3,
.h3 {
	@extend .fw-normal, .fst-italic, .ff-title;
	@include font-sizes(35);
	@include margin(top 1em bottom 0);

	line-height: math.div(45, 30);
}

h4,
.h4 {
	@extend .fw-normal, .ff-title;
	@include font-sizes(35);
	@include margin(top 1em bottom 0);

	line-height: math.div(45, 30);
}

h5,
.h5 {
	@extend .fw-normal, .ff-title;
	@include font-sizes(18);

	line-height: math.div(30, 30);

	@include margin(top 1em bottom 0);
}

h6,
.h6 {
}

.fs-2xs {
	font-size: #{math.div(20, $base-font-size)}rem;
	line-height: math.div(58, 20);
}

.fs-xl {
	font-size: #{math.div(30, $base-font-size)}rem;
	line-height: math.div(68, 30);
}

.fs-3xl {
	font-size: #{math.div(40, $base-font-size)}rem;
	line-height: math.div(55, 40);
}

.fs-4xl {
}

.fs-7xl {
	font-size: #{math.div(85, $base-font-size)}rem;
	line-height: math.div(100, 85);
}

@include media-breakpoint-up(md) {
	.fs-md-7xl {
		font-size: #{math.div(85, $base-font-size)}rem;
		line-height: math.div(100, 85);
	}
}

.leading-none {
	line-height: 1;
}
