/**
 * Basic typography style for copy text
 */

// @include reset-selection( get_color( black ), get_color( white ) );

@use 'sass:math';

h1,
.h1 {
	@extend .ff-title, .fw-normal;
	@include margin(top 1rem bottom 2rem);
}

h2,
.h2 {
	@extend .fw-normal;
	@include margin(top 1rem bottom 1rem);
}

h3,
.h3 {
	@extend .fw-normal, .fst-italic, .ff-title;
	@include margin(top 1rem bottom 0);
}

h4,
.h4 {
	@extend .fw-normal, .ff-title;

	@include margin(top 1rem bottom 0);
}

h5,
.h5 {
	@extend .fw-normal, .ff-title;

	@include margin(top 1rem bottom 0);
}

h6,
.h6 {
}

.fs-3xs {
	font-size: #{math.div(8, $base-font-size)}rem;
	line-height: math.div(8, $base-font-size);
}

.fs-2xs {
	font-size: #{math.div(10, $base-font-size)}rem;
	line-height: math.div(12, $base-font-size);
}

.fs-xs {
	font-size: #{math.div(12, $base-font-size)}rem;
	line-height: math.div(16, $base-font-size);
}

.fs-sm {
	font-size: #{math.div(14, $base-font-size)}rem;
	line-height: math.div(20, $base-font-size);
}

.fs-base {
	font-size: #{math.div(16, $base-font-size)}rem;
	line-height: math.div(24, $base-font-size);
}

.fs-lg {
	font-size: #{math.div(18, $base-font-size)}rem;
	line-height: math.div(28, $base-font-size);
}

.fs-xl {
	font-size: #{math.div(20, $base-font-size)}rem;
	line-height: math.div(28, $base-font-size);
}

.fs-2xl {
	font-size: #{math.div(24, $base-font-size)}rem;
	line-height: math.div(32, $base-font-size);
}

.fs-3xl {
	font-size: #{math.div(30, $base-font-size)}rem;
	line-height: math.div(36, $base-font-size);
}

.fs-4xl {
	font-size: #{math.div(36, $base-font-size)}rem;
	line-height: math.div(40, $base-font-size);
}

.fs-5xl {
	font-size: #{math.div(48, $base-font-size)}rem;
	line-height: 1;
}

.fs-7xl {
	font-size: #{math.div(72, $base-font-size)}rem;
	line-height: 1;
}

@include media-breakpoint-up(md) {
	.fs-md-xl {
		font-size: #{math.div(20, $base-font-size)}rem;
		line-height: math.div(28, $base-font-size);
	}

	.fs-md-3xl {
		font-size: #{math.div(30, $base-font-size)}rem;
		line-height: math.div(36, $base-font-size);
	}

	.fs-md-5xl {
		font-size: #{math.div(48, $base-font-size)}rem;
		line-height: 1;
	}

	.fs-md-7xl {
		font-size: #{math.div(72, $base-font-size)}rem;
		line-height: 1;
	}
}

.leading-none {
	line-height: 1;
}
