{#
 # About page
 #
 #}
{% extends 'index.html.twig' %}

{% block content %}

	<div class="Horizontal-page__section js-section">
		<div class="Horizontal-page__track js-track">

			<div class="Horizontal-page__wrapper js-wrapper">

				{# <div class="Horizontal-page__thumbnail">
					{% include 'partials/image.html.twig' with { image: post.thumbnail } only %}
				</div> #}

				<div class="Horizontal-page__content">

					<div class="Page__content__title js-title">
						<h1>{{- post.subtitle ? "<span>#{ post.subtitle }</span>" -}}{{- post.title -}}</h1>
					</div>

					<ul>
						{% for item in post.meta( 'layouts' ) %}
							{% if item.acf_fc_layout == 'text' %}
								<li class="column-{{ item.columns }}">
									<div class="Wysiwyg">
										{{ item.text }}
									</div>
								</li>
							{% endif %}

							{% if item.acf_fc_layout == 'image' %}
								<li class="column-10">
									{% include 'partials/image.html.twig' with { image: item.image } %}
								</li>
							{% endif %}
						{% endfor %}
					</ul>
				</div>

			</div>

			{% include 'components/footer-horizontal.html.twig' %}

		</div>
	</div>

{% endblock  %}
