{#
 # Cart page
 #
 #
 #}
{% extends 'index.html.twig' %}

{% block content %}
	<div class="Site-content position-relative">
		{{- post.content -}}
		{{- include( 'components/footer-vertical.html.twig' ) -}}
	</div>
{% endblock %}
