{#
 # Cart page
 #
 #
 #}
{% extends 'index.html.twig' %}

{% block content %}
	<div class="mt-100px mx-20px mb-20px mt-md-20px ms-md-100px position-relative w-md-100">
		{{- post.content -}}
		{{- include( 'components/footer-vertical.html.twig' ) -}}
	</div>
{% endblock %}
