{% extends 'index.html.twig' %}

{% block content %}

	<div class="Horizontal-page__section js-section">
		<div class="Horizontal-page__track js-track">

			<div class="Horizontal-page__grid">
				<div>{{- post.title -}}</div>
				<div class="Wysiwyg">{{- post.content -}}</div>
			</div>


			<div class="Horizontal-page__gallery">
				{% for image in post.get_field( 'gallery' ) %}
					<div class="Horizontal-page__gallery__item">
						<div></div>
						<div>{% include 'partials/image.html.twig' with { image: image } %}</div>
						<div></div>
					</div>
				{% endfor %}
			</div>

			{% include 'components/heading.html.twig' with { classes: [ 'color-gray-very-light-02', 'background-color-white' ], link: site.link, title: __( 'Discover our online store', 'uni' )  } only %}

			{% include 'components/footer.html.twig' %}

		</div>
	</div>

{% endblock  %}
