{% extends 'index.html.twig' %}

{% block content %}

	<div class="Horizontal-page__section">
		<div class="Horizontal-page__track js-track">

			<div class="Horizontal-page__wrapper">
				<div class="Horizontal-page__grid">
					<div class="Horizontal-page__grid__inner">
						<div class="Horizontal-page__navigation js-navigation">
							{%- include 'svg/use.html.twig' with { icon: 'arrow-right'} only -%}
						</div>
						<div class="Page__content__title"><h1><span>Mobiliers &</span>{{- post.title -}}</h1></div>
						<div class="Wysiwyg">{{- post.content -}}</div>
						<div class="Page__content__footer js-footer">Odyssée :<br>Récit de voyage plus ou moins mouvementé et rempli d'aventures singulières</div>
					</div>
				</div>

				<div class="Horizontal-page__gallery js-gallery">
					{% for image in post.get_field( 'gallery' ) %}
						<div id="image-{{ image.id }}" class="Horizontal-page__image page-block" data-index="{{ loop.index }}" data-node-type="InViewBlock">
							<div>{%- include 'partials/image.html.twig' with { image: image } only -%}</div>
						</div>
					{% endfor %}
				</div>
			</div>


			{% include 'components/heading.html.twig' with { classes: [ 'color-gray-very-light-02', 'background-color-white' ], link: site.link, title: __( 'Discover our online store', 'uni' )  } only %}

			{% include 'components/footer-horizontal.html.twig' %}

		</div>
	</div>

{% endblock  %}
