/**
 * Font sizes
 *
 *
 *
 */
@use 'sass:math';

@mixin font-sizes($mobile, $desktop: $mobile, $base: $base-font-size) {
	font-size: #{math.div($mobile, $base)}em;
	font-size: min(
		#{math.div($mobile, $base)}em,
		#{math.div($mobile * 100, $prototype-height-unitless)}vh
	);

	@include media-breakpoint-up(md) {
		font-size: #{math.div($desktop, $base)}em;
		font-size: min(
			#{math.div($desktop, $base)}em,
			#{math.div($desktop * 100, $prototype-height-unitless)}vh
		);
	}
}
