// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------

/**
 * Color variation
 *
 * Each colors used in the theme.
 *
 * @uses get_color( $key, $value ) to retrieve color value
 * @type nested map
 * @see http://erskinedesign.com/blog/friendlier-colour-names-sass-maps/
 * @see http://www.colorhexa.com/ to pickup color name
 * @see https://brandcolors.net/
 */
$color-variations: (
	black: #000,
	white: #fff,
	red: (
		pure: #ff0000,
		bright: #dc3545,
		very-dark-01: #491217,
		very-dark-02: #721c24,
		light-grayish-01: #f8d7da,
		light-grayish-02: #f5c6cb,
	),
	blue: (
		pure: #0000ff,
	),
	green: (
		dark-lime: #28a745,
		very-dark-lime-01: #155724,
		very-dark-lime-02: #0b2e13,
		light-grayish-lime-01: #d4edda,
		light-grayish-lime-02: #c3e6cb,
	),
	yellow: (
		dark-grayish: #9d9d9c,
	),
	gray: (
		dark: #999999,
		very-dark: #666666,
		very-light-01: #f8f8f8,
		very-light-02: #efefef,
		very-light-03: #e4e4e4,
	),
	cyan: (
		very-dark-01: #0c5460,
		very-dark-02: #062c33,
		light-grayish-01: #d1ecf1,
		light-grayish-02: #bee5eb,
	),
	socials: (
		facebook: #3b5998,
		twitter: #1da1f2,
		google-plus: #dd4b39,
		linkedin: #0077b5,
		viadeo: #f07355,
	),
);

/**
 *
 *
 *
 * @type map
 */
$borders: (
	radius: 5px,
);

/**
 * Font
 *
 * A map containing all information about fonts
 *
 * @type map
 */
$font: (
	/**
	 * Font
	 *
	 * All fonts families found in the site are listed here
	 *
	 * @uses map-get( $font, $key ) to retrieve font value from map
	 * @type map
	 */
		families:
		(
			body: (
				'"Suisse Int\'l", sans-serif',
			),
			title: (
				'"Suisse Works", serif',
			),
		),
	/**
	 * Font weights
	 *
	 * Each font weight used in the theme.
	 *
	 * @uses map-get( $font, weights ) to retrieve font weight value
	 * @type map
	 */
		weights:
		(
			extralight: 100,
			ultralight: 250,
			light: 300,
			book: 350,
			regular: 400,
			medium: 500,
			semibold: 600,
			bold: 700,
			extrabold: 800,
			extrablack: 900,
		),
	/**
	 * Font styles
	 *
	 * Each font style used in the theme.
	 *
	 * @uses map-get( $font, styles ) to retrieve font style value
	 * @type list
	 */
		styles: italic normal,
	/**
	 * Font sizes
	 *
	 * Each font size used in the theme.
	 *
	 * @uses map-get( $font, sizes ) to retrieve font size value
	 * @type list
	 */
		sizes: 30
);

/**
 * Base
 */
$base-font-size: 30;
$base-font-size-px: $base-font-size * 1px;
$base-line-height: 40;
$scale-factor: $base-line-height / $base-font-size;

/**
 * Outer gutter width
 *
 * (Most of the time it's the size of a gutter divide by 2.)
 * Useful for the container.
 */
$grid-outer-gutter-width-unitless: $grid-gutter-width-unitless;
$grid-outer-gutter-width: $grid-outer-gutter-width-unitless * 1px;

/**
 * Prototype width
 *
 * From Photoshop, Sketch, Illustrator, Paint maybe? 😝
 */
$prototype-width-unitless: 2560;
$prototype-width: $prototype-width-unitless * 1px;

/**
 * Container width without grid outer gutter width
 *
 * Width keep from prototype
 */
$container-width-without-outer-gutter-unitless: 1296;
$container-width: $container-width-without-outer-gutter-unitless * 1px;

/**
 * Container sizes
 *
 * Sizes keep from prototype (grid + outer gutter * 2 )
 */
$container-width-unitless: $container-width-without-outer-gutter-unitless +
	($grid-outer-gutter-width-unitless * 2);
$container-width: $container-width-unitless * 1px;

/**
 * Prototype height
 */
$prototype-height-unitless: 1440;
$prototype-height: $prototype-height-unitless * 1px;

/**
 * Spacers
 *
 * Usefull for padding and margin utilities rythm
 */
$spacers: (
	0: 0,
	1: $base-line-height * 0.25,
	2: $base-line-height * 0.5,
	3: $base-line-height,
	4: $base-line-height * 1.5,
	5: $base-line-height * 2,
	6: $base-line-height * 3,
	7: $base-line-height * 3.5,
	8: $base-line-height * 4,
	9: $base-line-height * 4.5,
	10: $base-line-height * 5,
);

/**
 * Directories
 *
 * Each directories used in this theme.
 *
 * @uses 	map-get( $directories, $key ) to retrieve directory value
 * @type 	map
 * @author 	Jérémy Levron <jeremylevron@19h47.fr>
 */
$directories: (
	fonts: '../fonts/',
	img: '../img/',
	svg: '../img/svg/',
	jpg: '../img/jpg/',
	png: '../img/png/',
	gif: '../img/gif/',
);

/**
 *
 */
$pi: 3.14159265359;
