{#
 # Error
 #}
{% if notices is iterable and notices is not empty %}

	<ul class="{{
		[
			'flex',
			'flex-column',
			'gap-y-12px',
			'list-style-type-none',
			'shadow-uni',
			'p-12px',
			'border',
			'border-red-200',
			'rounded',
			'bg-red-100',
			'text-red-800'
		] | merge( notice.classes | default( [] ) ) | join( ' ' ) | trim
	}}" role="alert">
		{% for notice in notices %}
			<li{{ fn( 'wc_get_notice_data_attr', notice ) }}>
				{{- notice.notice -}}
			</li>
		{% endfor %}
	</ul>

{% endif %}
