{#
 # Notice
 #}

{% if notices is iterable and notices is not empty %}
	{% for notice in notices %}
		<div
			class="{{
				[
					'shadow-uni',
					'p-12px',
					'border',
					'border-cyan-light-grayish-02',
					'rounded',
					'bg-cyan-light-grayish-01',
					'text-cyan-very-dark-01',
				] | merge( notice.classes | default( [] ) ) | join( ' ' ) | trim
			}}"
			{{ fn( 'wc_get_notice_data_attr', notice ) }}
		>
			{{-  notice.notice }}
		</div>
	{% endfor %}
{% endif %}
