{#
 #
 #}
{% if notices is iterable and notices is not empty %}

	<div class="flex gap-y-12px">
		{% for notice in notices %}
			<div class="{{ [
				'shadow-uni',
				'p-12px',
				'border',
				'rounded',
				'text-green-very-dark-lime-01',
				'bg-green-light-grayish-lime-01',
				'border-green-light-grayish-lime-02'
			] | join( ' ' ) | trim }}"
			{{ fn( 'wc_get_notice_data_attr', notice ) }}
			role="alert"
		>
				{{- notice.notice -}}
			</div>
		{% endfor %}
	</div>

{% endif %}
